<html>
    <script data-goatcounter="https://gilben1.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
    <link rel="stylesheet" href="https://oubliettering.neocities.org/onionring/onionring.css">
    <div id='oubliette-ring'>
        <script type="text/javascript" src="https://oubliettering.neocities.org/onionring/onionring-variables.js"></script>
        <script type="text/javascript" src="https://oubliettering.neocities.org/onionring/onionring-widget.js"></script>
    </div>
</html>