.img-responsive {
    max-height: 64px;
}

.img-slideshow {
    max-height: 750px;
}

.img-icon {
    width: 32px;
    height: 32px;
    padding: 5px;
}

.tab {
    background-color: var(--primary);
    color: white;
}

.tab-link:not(.active){
    color: white
}

.slideshow-caption {
    color: white;
}

.slideshow-caption-background {
    background: rgba(0, 0, 0, 0.8);
}

.divider-10 {
    width:100%; 
    min-height:1px; 
    margin-top:10px; 
    margin-bottom:10px;  
    display:inline-block; 
    position:relative;
}

.top-buffer { margin-top:50px; }