.row { 
    margin-left: auto !important;
    margin-right: auto !important;
}

.img-responsive {
    max-height: 64px;
}

.img-slideshow {
    max-height: 750px;
}

.img-icon {
    width: 32px;
    height: 32px;
    padding: 5px;
}

.tab {
    background-color: var(--primary);
    color: white;
}

.tab-link:not(.active){
    color: white
}

.slideshow-caption {
    color: white;
}

.slideshow-caption-background {
    background: rgba(0, 0, 0, 0.8);
}

.divider-10 {
    width:100%; 
    min-height:1px; 
    margin-top:10px; 
    margin-bottom:10px;  
    display:inline-block; 
    position:relative;
}

.top-buffer { margin-top:50px; }

.accordion .card {
        overflow: hidden
}

.accordion .card-header {
    margin-bottom: -1px;
}

.card-title {
    min-width: 300px;
}

.bottomdiv-root{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.bottomdiv-text {
    border: 1px solid black;
    background-color: white;
}

.bottomdiv-spacer {
    background-color: var(--primary);
}

.resume-header {
    border: 1px solid blue;
}

.main-text {
    --min-size-px: 10px;
    --min-size: 10;
    --max-size: 20;
    font-size: calc(var(--min-size-px) + (var(--max-size) - var(--min-size)) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}

.project-text {
    --min-size-px: 10px;
    --min-size: 10;
    --max-size: 14;
    font-size: calc(var(--min-size-px) + (var(--max-size) - var(--min-size)) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}


@media only screen and (min-width: 576px) {
    .pdf-canvas {
        width: 100% !important;
    }
}

@media only screen and (max-width: 576px) {
    .pdf-canvas {
        width: 125% !important;
    }
}

@media only screen and (max-width: 400px) {
    .pdf-canvas {
        width: 150% !important;
    }
}