/* xs */
img {
    width: 16px;
    height: auto;
}
/* sm */
@media (min-width: 768px) {
    img {
        width: 24px;
    }
}
/* md */
@media (min-width: 992px) {
    img {
        width: 32px;
    }
}
/* lg */
@media (min-width: 1200px) {
    img {
        width: 64px;
    }
}

.tab {
    background-color: var(--primary);
    color: white;
}

.tab-link:not(.active){
    color: white
}